@keyframes typingFirst {
  0% {
    opacity: 0;
  }
  0.1% {
    opacity: 1;
  }
  89.9% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingSecond {
  0% {
    opacity: 0;
  }
  4.9% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  84.9% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingThird {
  0% {
    opacity: 0;
  }
  9.9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  79.9% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingFourth {
  0% {
    opacity: 0;
  }
  14.9% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  74.9% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingFifth {
  0% {
    opacity: 0;
  }
  19.9% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  69.9% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingSixth {
  0% {
    opacity: 0;
  }
  24.9% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  64.9% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingSeventh {
  0% {
    opacity: 0;
  }
  29.9% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  59.9% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingEighth {
  0% {
    opacity: 0;
  }
  34.9% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  54.9% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typingNinth {
  0% {
    opacity: 0;
  }
  39.9% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.typingFirstDiv {
  animation: typingFirst 10s infinite;
}

.typingSecondDiv {
  animation: typingSecond 10s infinite;
}

.typingThirdDiv {
  animation: typingThird 10s infinite;
}

.typingFourthDiv {
  animation: typingFourth 10s infinite;
}

.typingFifthDiv {
  animation: typingFifth 10s infinite;
}

.typingSixthDiv {
  animation: typingSixth 10s infinite;
}

.typingSeventhDiv {
  animation: typingSeventh 10s infinite;
}

.typingEighthDiv {
  animation: typingEighth 10s infinite;
}

.typingNinthDiv {
  animation: typingNinth 10s infinite;
}
