/**

.post_content h1::before {
  content: "# ";
}

.post_content h2::before {
  content: "## ";
}

.post_content h3::before {
  content: "### ";
}

.post_content h4::before {
  content: "### ";
}

.post_content h5::before {
  content: "### ";
}

.post_content h6::before {
  content: "### ";
}
*/

.post_content h1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post_content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post_content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post_content h4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post_content h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post_content h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.post_content pre {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
}

.post_content code {
  font-family: "Courier New", Courier, monospace;
}

.post_content code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

.post_content a {
  text-decoration: underline;
}

.post_content p {
  margin-bottom: 10px;
}

.post_content li {
  list-style-type: decimal;
  margin-left: 15px;
}

.post_content ul {
  margin-left: 20px;
}

.post_content ol {
  margin-left: 20px;
}

.post_content blockquote {
  border-left: 5px solid #00ff00;
  padding-left: 10px;
  margin-left: 0;
}